table {
  border-collapse: collapse;
}
td {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
  font-size: 20px;
  background-color: aquamarine;
}

td.selected {
  background-color: blueviolet;
}

button {
  margin-top: 10px;
  padding: 10px;
}

input {
  width: 80%;
  height: 150px;
}
